# FHIR SQL Builder

## Retrieve FHIR resources via SQL statements

In [1]:
from datetime import date
import holidays

fr_holidays = holidays.FR()  

if date.today() in fr_holidays:
    print('today is public holiday')
else:
    print('working day')

check='2024-08-15'
if check in fr_holidays:
    print(check+' is public holiday')
else:
    print(check+'working day')

working day
2024-08-15 is public holiday

In [2]:
date.today() in fr_holidays

False

In [2]:
import pandas as pd
import intersystems_iris as iris
from sqlalchemy import create_engine,types

## Create the SQL Alchemy engine

In [3]:
engine = create_engine('iris://SuperUser:SYS@iris:1972/IRISAPP')
engine

Engine(iris://SuperUser:***@iris:1972/IRISAPP)

## Create the dbapi connection

In [4]:
host = "iris"
port = 1972
namespace = "IRISAPP"
user = "_SYSTEM"
password = "SYS"

conn = iris.connect(
                    hostname=host, 
                    port=port, 
                    namespace=namespace, 
                    username=user, 
                    password=password
                   )

# create a cursor
cur = conn.cursor()
conn

## Display data from AA.Patient table after having created the FHIR SQL Builder projection

### Alternatively, you can import the misc/T1.json transformation file using FHIR SQL Builder

In [5]:
pd.read_sql_table('Patient', engine, schema="AAA")

ValueError: Table Patient not found

## Create a dataframe from Location.csv file

In [34]:
df = pd.read_csv("Location.csv")
df.head()

,City,County,Latitude,Longitude,State,0-4,5-9,10-14,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,Abington,Plymouth,42.1047,-70.9458,MA,0.04,0.05,0.05,0.07,0.13,0.14,0.14,0.16,0.12,0.07,0.03,0.51,0.49
1,Acton,Middlesex,42.4850,-71.4333,MA,0.06,0.05,0.07,0.11,0.07,0.09,0.16,0.19,0.10,0.07,0.03,0.52,0.48
2,Acushnet,Bristol,41.6806,-70.9083,MA,0.06,0.05,0.04,0.04,0.12,0.11,0.13,0.18,0.13,0.11,0.03,0.52,0.48
3,Adams,Berkshire,42.6242,-73.1181,MA,0.04,0.04,0.05,0.04,0.16,0.12,0.12,0.15,0.16,0.07,0.05,0.48,0.52
4,Agawam,Hampden,42.0696,-72.6152,MA,0.06,0.04,0.06,0.05,0.10,0.10,0.13,0.17,0.14,0.09,0.06,0.51,0.49

## Store Location dataframe into IRIS AB.Location table

In [35]:
df.to_sql('Location', engine, schema="AB" ,if_exists='replace', index=True)

-1

## Read AB.Location table from IRIS

In [36]:
pd.read_sql_table('Location', engine, schema="AB")

,index,City,County,Latitude,Longitude,State,0-4,5-9,10-14,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,0,Abington,Plymouth,42.1047,-70.9458,MA,0.04,0.05,0.05,0.07,0.13,0.14,0.14,0.16,0.12,0.07,0.03,0.51,0.49
1,1,Acton,Middlesex,42.4850,-71.4333,MA,0.06,0.05,0.07,0.11,0.07,0.09,0.16,0.19,0.10,0.07,0.03,0.52,0.48
2,2,Acushnet,Bristol,41.6806,-70.9083,MA,0.06,0.05,0.04,0.04,0.12,0.11,0.13,0.18,0.13,0.11,0.03,0.52,0.48
3,3,Adams,Berkshire,42.6242,-73.1181,MA,0.04,0.04,0.05,0.04,0.16,0.12,0.12,0.15,0.16,0.07,0.05,0.48,0.52
4,4,Agawam,Hampden,42.0696,-72.6152,MA,0.06,0.04,0.06,0.05,0.10,0.10,0.13,0.17,0.14,0.09,0.06,0.51,0.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,345,Woburn,Middlesex,42.4791,-71.1518,MA,0.06,0.05,0.05,0.05,0.12,0.16,0.12,0.14,0.13,0.07,0.05,0.49,0.51
346,346,Worcester,Worcester,42.2667,-71.8000,MA,0.06,0.05,0.07,0.07,0.18,0.14,0.12,0.12,0.10,0.05,0.04,0.51,0.49
347,347,Worthington,Hampshire,42.3972,-72.9361,MA,0.02,0.05,0.06,0.06,0.10,0.09,0.13,0.14,0.21,0.10,0.04,0.54,0.46
348,348,Wrentham,Norfolk,42.0639,-71.3315,MA,0.07,0.06,0.07,0.07,0.09,0.11,0.12,0.19,0.13,0.05,0.04,0.48,0.52
349,349,Yarmouth,Barnstable,41.7055,-70.2286,MA,0.02,0.06,0.02,0.06,0.11,0.10,0.08,0.14,0.16,0.14,0.11,0.55,0.45

## Crossjoin AA.Patient and AB.Location

In [37]:
sql = """
SELECT 
P.*,Location.*
FROM AAA.Patient P
inner join AB.Location on P.BirthPlaceCity = Location.City
"""
cur.execute(sql)
cur.fetchall()

[Row(ID=2, BirthPlaceCity='Newton', BirthPlaceCountry='US', BirthPlaceState='Massachusetts', FirstName='Carroll471', Gender='male', IdentifierCode='MR', IdentifierType='Medical Record Number', IdentifierValue='274f5452-2a39-44c4-a7cb-f36de467762e', Key='Patient/2', LastName="O'Hara248", LastUpdated='2024-06-21T15:54:08Z', index=205, City='Newton', County='Middlesex', Latitude=42.3369, Longitude=-71.2097, State='MA', _18=0.05, _19=0.05, _20=0.07, _21=0.08, _22=0.13, _23=0.11, _24=0.12, _25=0.13, _26=0.13, _27=0.08, _28=0.05, F=0.54, M=0.46),
 Row(ID=5, BirthPlaceCity='Boxford', BirthPlaceCountry='US', BirthPlaceState='Massachusetts', FirstName='Gabriele201', Gender='female', IdentifierCode='MR', IdentifierType='Medical Record Number', IdentifierValue='b0223c9b-0019-42b0-99b8-7d689d7f8414', Key='Patient/5', LastName='Rohan584', LastUpdated='2024-06-21T15:54:09Z', index=38, City='Boxford', County='Essex', Latitude=42.6736, Longitude=-70.9861, State='MA', _18=0.05, _19=0.04, _20=0.14, _21=0.05, _22=0.05, _23=0.08, _24=0.15, _25=0.19, _26=0.16, _27=0.04, _28=0.05, F=0.49, M=0.51),
 Row(ID=7, BirthPlaceCity='Rowley', BirthPlaceCountry='US', BirthPlaceState='Massachusetts', FirstName='Frankie174', Gender='male', IdentifierCode='MR', IdentifierType='Medical Record Number', IdentifierValue='a5b737fb-1f94-4767-802b-1112051f5101', Key='Patient/7', LastName='Jast432', LastUpdated='2024-06-21T15:54:09Z', index=252, City='Rowley', County='Essex', Latitude=42.7167, Longitude=-70.8792, State='MA', _18=0.03, _19=0.06, _20=0.05, _21=0.09, _22=0.09, _23=0.12, _24=0.11, _25=0.19, _26=0.14, _27=0.08, _28=0.04, F=0.54, M=0.46),
 Row(ID=105, BirthPlaceCity='Braintree', BirthPlaceCountry='US', BirthPlaceState='Massachusetts', FirstName='Margie619', Gender='female', IdentifierCode='MR', IdentifierType='Medical Record Number', IdentifierValue='29428a22-5f03-492e-83bb-da34bb2a12c9', Key='Patient/105', LastName='Hettinger594', LastUpdated='2024-06-21T15:54:09Z', index=40, City='Braintree', County='Norfolk', Latitude=42.206, Longitude=-71.005, State='MA', _18=0.04, _19=0.06, _20=0.06, _21=0.07, _22=0.1, _23=0.14, _24=0.14, _25=0.15, _26=0.12, _27=0.07, _28=0.05, F=0.52, M=0.48)]

## Display the SQL Query from a dataframe

In [38]:
df = pd.read_sql_query(sql, engine)
df.head()

,ID,BirthPlaceCity,BirthPlaceCountry,BirthPlaceState,FirstName,Gender,IdentifierCode,IdentifierType,IdentifierValue,Key,...,15-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,F,M
0,2,Newton,US,Massachusetts,Carroll471,male,MR,Medical Record Number,274f5452-2a39-44c4-a7cb-f36de467762e,Patient/2,...,0.08,0.13,0.11,0.12,0.13,0.13,0.08,0.05,0.54,0.46
1,5,Boxford,US,Massachusetts,Gabriele201,female,MR,Medical Record Number,b0223c9b-0019-42b0-99b8-7d689d7f8414,Patient/5,...,0.05,0.05,0.08,0.15,0.19,0.16,0.04,0.05,0.49,0.51
2,7,Rowley,US,Massachusetts,Frankie174,male,MR,Medical Record Number,a5b737fb-1f94-4767-802b-1112051f5101,Patient/7,...,0.09,0.09,0.12,0.11,0.19,0.14,0.08,0.04,0.54,0.46
3,105,Braintree,US,Massachusetts,Margie619,female,MR,Medical Record Number,29428a22-5f03-492e-83bb-da34bb2a12c9,Patient/105,...,0.07,0.10,0.14,0.14,0.15,0.12,0.07,0.05,0.52,0.48

## Display the AA.Observation data after having projected it using FHIR SQL Builder

### Alternatively, you can import the misc/T1.json transformation file using FHIR SQL Builder

In [39]:
pd.read_sql_table('Observation', engine, schema="AAA")

,ID,Code,Key,ObservationCodeCodingCode,ObservationCodeCodingDisplay,QuantityValue,SubjectReference,System,Unit,Value
0,101,cm,Observation/101,8302-2,Body Height,76.0,Patient/5,http://unitsofmeasure.org,cm,76.0
1,102,{score},Observation/102,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,4.0,Patient/5,http://unitsofmeasure.org,{score},4.0
2,103,kg,Observation/103,29463-7,Body Weight,12.0,Patient/5,http://unitsofmeasure.org,kg,12.0
3,104,%,Observation/104,77606-2,Weight-for-length Per age and sex,98.0,Patient/5,http://unitsofmeasure.org,%,98.0
4,113,None,Observation/113,85354-9,Blood Pressure,NaN,Patient/5,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...
788,2241,{score},Observation/2241,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,3.0,Patient/105,http://unitsofmeasure.org,{score},3.0
789,2242,kg,Observation/2242,29463-7,Body Weight,71.0,Patient/105,http://unitsofmeasure.org,kg,71.0
790,2243,kg/m2,Observation/2243,39156-5,Body Mass Index,22.0,Patient/105,http://unitsofmeasure.org,kg/m2,22.0
791,2244,None,Observation/2244,85354-9,Blood Pressure,NaN,Patient/105,None,None,NaN
792,2245,None,Observation/2245,72166-2,Tobacco smoking status NHIS,NaN,Patient/105,None,None,NaN

## Crossjoin AA.Patient and AA.Observation

In [40]:
sql = """
SELECT top 10
P.Key,P.FirstName,P.LastName,O.*
FROM AAA.Patient P
inner join AAA.Observation O on P.Key = O.SubjectReference
"""
cur.execute(sql)
cur.fetchall()

[Row(Key='Patient/5', FirstName='Gabriele201', LastName='Rohan584', ID=101, Code='cm', _5='Observation/101', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', QuantityValue='76.6', SubjectReference='Patient/5', System='http://unitsofmeasure.org', Unit='cm', Value='76.6'),
 Row(Key='Patient/5', FirstName='Gabriele201', LastName='Rohan584', ID=102, Code='{score}', _5='Observation/102', ObservationCodeCodingCode='72514-3', ObservationCodeCodingDisplay='Pain severity - 0-10 verbal numeric rating [Score] - Reported', QuantityValue='4', SubjectReference='Patient/5', System='http://unitsofmeasure.org', Unit='{score}', Value='4'),
 Row(Key='Patient/5', FirstName='Gabriele201', LastName='Rohan584', ID=103, Code='kg', _5='Observation/103', ObservationCodeCodingCode='29463-7', ObservationCodeCodingDisplay='Body Weight', QuantityValue='12.3', SubjectReference='Patient/5', System='http://unitsofmeasure.org', Unit='kg', Value='12.3'),
 Row(Key='Patient/5', FirstName='Gabriele201', LastName='Rohan584', ID=104, Code='%', _5='Observation/104', ObservationCodeCodingCode='77606-2', ObservationCodeCodingDisplay='Weight-for-length Per age and sex', QuantityValue='98.841', SubjectReference='Patient/5', System='http://unitsofmeasure.org', Unit='%', Value='98.841'),
 Row(Key='Patient/5', FirstName='Gabriele201', LastName='Rohan584', ID=113, Code=None, _5='Observation/113', ObservationCodeCodingCode='85354-9', ObservationCodeCodingDisplay='Blood Pressure', QuantityValue=None, SubjectReference='Patient/5', System=None, Unit=None, Value=None),
 Row(Key='Patient/5', FirstName='Gabriele201', LastName='Rohan584', ID=114, Code=None, _5='Observation/114', ObservationCodeCodingCode='72166-2', ObservationCodeCodingDisplay='Tobacco smoking status NHIS', QuantityValue=None, SubjectReference='Patient/5', System=None, Unit=None, Value=None),
 Row(Key='Patient/5', FirstName='Gabriele201', LastName='Rohan584', ID=120, Code='cm', _5='Observation/120', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', QuantityValue='81.4', SubjectReference='Patient/5', System='http://unitsofmeasure.org', Unit='cm', Value='81.4'),
 Row(Key='Patient/2', FirstName='Carroll471', LastName="O'Hara248", ID=145, Code='cm', _5='Observation/145', ObservationCodeCodingCode='8302-2', ObservationCodeCodingDisplay='Body Height', QuantityValue='193.3', SubjectReference='Patient/2', System='http://unitsofmeasure.org', Unit='cm', Value='193.3'),
 Row(Key='Patient/2', FirstName='Carroll471', LastName="O'Hara248", ID=146, Code='{score}', _5='Observation/146', ObservationCodeCodingCode='72514-3', ObservationCodeCodingDisplay='Pain severity - 0-10 verbal numeric rating [Score] - Reported', QuantityValue='3', SubjectReference='Patient/2', System='http://unitsofmeasure.org', Unit='{score}', Value='3'),
 Row(Key='Patient/2', FirstName='Carroll471', LastName="O'Hara248", ID=147, Code='kg', _5='Observation/147', ObservationCodeCodingCode='29463-7', ObservationCodeCodingDisplay='Body Weight', QuantityValue='106.3', SubjectReference='Patient/2', System='http://unitsofmeasure.org', Unit='kg', Value='106.3')]

## Display the SQL Query from a dataframe

In [41]:
df = pd.read_sql_query(sql, engine)
df.head()

,Key,FirstName,LastName,ID,Code,Key,ObservationCodeCodingCode,ObservationCodeCodingDisplay,QuantityValue,SubjectReference,System,Unit,Value
0,Patient/5,Gabriele201,Rohan584,101,cm,Observation/101,8302-2,Body Height,76.6,Patient/5,http://unitsofmeasure.org,cm,76.6
1,Patient/5,Gabriele201,Rohan584,102,{score},Observation/102,72514-3,Pain severity - 0-10 verbal numeric rating [Sc...,4,Patient/5,http://unitsofmeasure.org,{score},4
2,Patient/5,Gabriele201,Rohan584,103,kg,Observation/103,29463-7,Body Weight,12.3,Patient/5,http://unitsofmeasure.org,kg,12.3
3,Patient/5,Gabriele201,Rohan584,104,%,Observation/104,77606-2,Weight-for-length Per age and sex,98.841,Patient/5,http://unitsofmeasure.org,%,98.841
4,Patient/5,Gabriele201,Rohan584,113,None,Observation/113,85354-9,Blood Pressure,None,Patient/5,None,None,None

## Create new table to store DriverLicense data

In [42]:
cur.execute("""drop TABLE AB.DriverLicense""")

0

In [43]:
# execute a query
cur.execute("""create TABLE AB.DriverLicense (

    Code varchar(255) not null,
    Valid TINYINT not null

)""")

0

## DELETE DriverLicense data

In [44]:
cur.execute("""delete AB.DriverLicense""")

0

## INSERT DriverLicense data

In [45]:
cur.execute("""INSERT INTO AB.DriverLicense (Code, Valid) VALUES ('935564323334', 0)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valid) VALUES ('635564323334', 1)""")
cur.execute("""INSERT into AB.DriverLicense (Code, Valid) VALUES ('187788223334', 1)""")

1

## Display DriverLicense data

In [46]:
pd.read_sql_table('DriverLicense', engine, schema="AB",columns={"Code","Valid"})

           Code  Valid
0  935564323334      0
1  635564323334      1
2  187788223334      1

## Crossjoin AA.Patient and AB.DriverLicense

In [47]:
sql = """
SELECT 
P.LastName,P.FirstName,P.IdentifierType,DL.*
FROM AAA.Patient P
inner join AB.DriverLicense DL on P.IdentifierValue = DL.Code
"""
cur.execute(sql)
cur.fetchall()

[]

## Display the SQL Query from a dataframe

In [48]:
df = pd.read_sql_query(sql, engine)
df.head()

Empty DataFrame
Columns: [LastName, FirstName, IdentifierType, Code, Valid]
Index: []